# Binaries and other...
*.o
*.elf
*.bin
.hex
*log.*
*.map

# Eclipse things
*metadata*
*RemoteSystemsTempFiles*

*.xml

*.mk

*.d

*.pyc

*.pdf

/gui/data/*

# IDE
*.idea

# Test data files
gse_gui/data*
.DS_Store
